@model BaseModel
<label class="control-label">Upload Image:</label>
<div class="control-label">
    <span id="list"></span>
</div>
<input id="images" type="file" asp-for="ImageFiles" name="files" multiple class="form-control no-border no-padding-left" onchange="showAndPreviewImages()" />
<script type="text/javascript">
                    function showAndPreviewImages() {
                        var files = document.getElementById("images").files;
                        for (var i = 0; i < files.length; i++) {
                            let file = files[i];
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var span = document.createElement('span');
                                span.innerHTML = ['<img src="', e.target.result,
                                    '" width="100"', escape(file.name), '">&nbsp;&nbsp;'
                                ].join('');
                                document.getElementById('list').insertBefore(span, null);
                            };
                            reader.readAsDataURL(file);
                        }
                    }
</script>
